html, body{
    height: auto;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}
body{
    font-style: normal;
    line-height: 1.5px;
}

.navbar{
    background-color: #f1f1f1;
    transition: none;
    min-height: 80px;
    padding: 1rem 0;
}

.navbar a{
    color: #3d424f;
    font-size: 1.7rem;
}


.parallax{
    background-image: url("../imagens/coding-924920_1920.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

.fa-chevron-circle-down{
    color: #fff;
}

  
.mn1 a{
font-style: normal;
}


div.mn2{
     margin-top: 130px;
     margin-bottom: 50px;
}

.mn3 {
    background-color: #05748d;
}

p.display-1{
    font-size: 4.0rem;
    text-transform: uppercase;
}

p.display-2{
    font-size: 3.4rem;
    color: #2c2f3e;
}

p.display-3{
    font-size: 1.8rem;
}

p.display-4{
    font-size: 1.3rem;
}


div.transbox {
    background-image: url("../imagens/code-coder-coding-34600.jpg");
    border: 1px solid #ffffff;
    height: auto; 
}

section{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover
}

section, .container .container-fluid{
    position: relative;
    word-wrap: break-word;
}

section{
    background-color: #ffffff;
}

ul .display-4 {
    font-size: 1rem;
    color: #2c2f3e;
    font-weight: 600;
}

div .display-5 {
    font-size: 2.5rem;
    color: #fff;
}

a, a:hover{
    text-decoration: none;
}

a{
    cursor: pointer;
}


li a{
    font-style: normal;
    font-weight: 400;
}


div img{
    width: 100%;
}

div.card{
    padding: 3%;
    background-color: #fafafa;
    text-align: justify;
}


div.textheader{
    color: #fff;
    font-style: italic;
    font-weight: 600;
}

.campus-cp{
    top: 50px;
    text-transform: uppercase;
    font-style: italic;
}

div.inner-container{
    color: #ffffff;
}
.align-center{
    text-align: center;
}

section .article{
    height: auto;
}

div a{
    text-decoration-color: none;
}

div .display-1 {
    font-family: 'Rubik', sans-serif;
    font-size: 4.25rem;
    font-weight: 400;
}

i.fa{
    color: #1978a5;
    font-size: 500%;
}
div.curso{
    text-align: center;
    color: #00a1c5;
    font-style: italic;
    padding: 3% 2% 5%;
}

div.icons-media-container{
    padding: 7% 0 0;
}


div.parallax.p2{
    background-image: url("../imagens/DSC0827.jpg")
}

.mn4 {
    padding-top: 90px;
    padding-bottom: 90px;
    text-justify: auto;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


div.text-card{
    padding: 7%;
    margin: 5%;
}

div.margem{
    margin-top: 10%;
    margin-bottom: 10%;
}

h3.card-title{
    text-align: center;
    font-weight: 600;
}


div.transcard{
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    background: rgba(0,0,0,0.4);
}


.carousel-inner img {
    width: 100%;
    height: 100%;
}

footer{
    background: #f1f1f1;
    margin: 0;  
}

footer p{
    color: #3d424f;
    font-weight: 400;
    font-size: 14px;
}

footer a{
    padding: 2%;
}

footer img{
    width: 30%;
    height: auto;
    margin: 8% 0;
}

a.fa{
    font-size: 180%;
    text-decoration: none;
    text-align: right;
    margin: 8% 0 0;
}

.fa-facebook, .fa-twitter, .fa-youtube, 
.fa-instagram, .fa-chevron-circle-up {
    color: #3d424f;
    text-decoration: none;
  }


  div.f2{
      background-color: #2c2f3e;
  } 
