*{
    box-sizing: border-box;
}

html{
    font-family: sans-serif, Arial;
}

body{
    margin: 0;
    width: 100%;
}

header{
    position: relative;
    padding: 30px;
    margin: 0;
    width: 100%;
}

.wrapper{
    position: relative;
    margin: 0 auto;
    max-width: 1000px;
}


h1.titulo{
    color: #00008B;
    font-weight: bold;
    text-align: left;
}

h2{
    font-size: 40px;
    font-weight: bold;
}

p.cor{
    font-size: 20px;
    text-align: justify;
    color: #FFFFFF;
}

.banner{ 
    width: 100%;
    height: 500px;
}

ul.nav{
    display: flex;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav{
    display: flex;
    background-color: #000066;
    background-image: -webkit-linear-gradient(top, #000066 0%, #00008B 100%);
    margin-bottom: 10px;
}

a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    padding: 15px 15px;
    font-weight: bold;
}

a:hover{
    background-color: #FFFFFF;
    color: #FFF000;
}

section, article{
    margin: 0;
    width: 100%;
    padding: 10px
}

.box{
    position: relative;
    width: 100%;
    max-width: 450px;
    padding: 15px 30px 30px 30px;
    background-color: transparent;
}

.box.mg{
    margin-top: 20px;
    margin-left: 200px;
    color: #FFFFFF;
}

div.degrade{
    position: relative;
    background-color: #F0F8FF;
    background-image: -webkit-linear-gradient(top, #F0F8FF 0%,#00008B 100%);
    padding: 0;
    width: 100%;
    height: 600px;
}

div.column{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-curso{
    width: 480px;
    height: auto;
    margin-left: 100px;
}

.box.c{
    background-color: #A9A9A9;
    background-image: -webkit-linear-gradient(top, #D3D3D3 0%,#A9A9A9 100%);
    color: #FF4500;
    font-weight: bold;
    margin-left: 150px;
}



div.central{
    color: #FFFFFF;
    background-color: #f4511e;
    display: flex;
    flex-direction: row;
}

div.lateral{
    width: 40%;
    margin-left: 10px;
}

div.meio{
    width: 60%;
}

/* div.formacao{
    background-color: #F0FFF0;
    background-image: -webkit-linear-gradient(top, #F0FFF0 0%, #F5FFFA 100%);
 } */

article{
    width: 100%;
    background-color: #aaaaaa;
}

footer{
    background-color: #000066;
    background-image: -webkit-linear-gradient(top, #000066 0%, #00008B 100%);
    padding: 20px;
}

@media screen and (max-width: 480px){
    div.column{
        flex-direction: column;
    }    
}