html, body{
    height: auto;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-style: normal;
    line-height: 1.5px;
}

section{
    /* background-position: 50% 50%; */
    background-repeat: no-repeat;
    background-size: cover
}

section, .container .container-fluid{
    position: relative;
    word-wrap: break-word;
    margin: 0;
}

section{
    background-color: #ffffff;
}


section .article{
    height: auto;
}

/* navbar */

.navbar{
    transition: none;
    min-height: 80px;
    padding: 1rem 0;
}

a.navbar-brand{
    padding-top: 8px;
} 



.parallax{
    background-image: url("../imagens/pexels-photo-160109.jpeg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.parallax.p2{
    background-image: url("../imagens/code-coding-computer-879109.jpg");
}

.btn.btn-info{
    font-weight: 600;
    background-color: #006edc;
    border-color: #006edc;
}

/* fontes */

p.display-1{
    font-family: 'Montserrat';
    font-size: 6.0rem;
    font-weight: 800;
    color: #fff;
}

p.display-2{
    font-family: 'Montserrat'; 
    font-size: 4.4rem;
    color: #2c2f3e;
    font-weight: 600;
}

p.display-2.d2{ 
    color: #ffffff;
}

p.display-2.d21{ 
    font-size: 3rem;
    color: #ffffff;
}

p.display-2.d23{ 
    font-size: 2.8rem;
}


p.display-2.d22{
    color: #006edc;
}

a, p.display-3{
    font-size: 1.7rem;   
}

p.display-3.d3{
    color: #fff;
    font-weight: 600;    
}

p.display-4{
    font-size: 1.6rem; 
    color: #3d424f;
}

p.display-4.d4{
    font-weight: 600;
}

ul .display-4 {
    font-size: 1rem;
    font-weight: 600;
}

p.display-5 {
    font-size: 2.5rem;
    color: #fff;
}

p.display-6{
    font-size: 2rem;
    color: #fff;
}

p.display-5.d55, p.p1{
    color: #999999;
}

hr.h{
    border-top: 1px solid #999;
}
/* classes mn */

.mn1 a{
    font-style: normal;
}
    
div.mn2{
    margin-top: 10%;
    margin-bottom: 10%;
}
    
.mn3 {
    background-color: #05748d;
}

.mn4 {
    padding-top: 90px;
    padding-bottom: 90px;
    text-justify: auto;
}


div.margem{
    margin-top: 10%;
    margin-bottom: 10%;
}


/* imagens */

img.mg1{
    border: 4% 0;
}

img.figura1{
    margin-top: 15%;
    margin-left: 35%;
    width: 40%;
    height: auto;
}

/* div.carousel-inner img{
    width: 50%;
    height: auto;
} */


img.mg1.logo-sofware{
    padding: 3%;
}

img.logo-software{
    width: 75%;
    height: auto;
}


img{
    width: 100%;
}

div.transbox {
    background-image: url("../imagens/code-coder-coding-34600.jpg");
    border: 1px solid #ffffff;
    height: auto; 
}
/* icones */

div.gradiente{
    background-color: #006edc;
    background: linear-gradient(-225deg, #0d6ce7f3 0, #73d3e9 100%); 
}

.btn.btn-light{
    font-weight: 600;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #006edc; 
}


div.circle{
    margin-left: 30%;
}

i.fa{
    color: #006edc;
    font-size: 60px;
    margin-top: 30%;
}

a.fa{
    font-size: 120%;
    text-decoration: none;
}


i.fa-chevron-circle-up, i.fa-facebook, i.fa-twitter, i.fa-youtube, 
i.fa-instagram {
    color: #999999;
    font-size: 25px;
    margin-top: 3%;
    padding: 2% 0;
  }

i.fa-chevron-circle-down{
    color: #fff;
    font-size: 40px;
    margin-top: 10%;
    margin-bottom: 5%;
}

i.fa.f1, p.display-5.d5{
    color: #fff;
}

div.icones{
    padding: 5%;
}


/* elementos da tag <a> */

a p h4, a.img{
    text-decoration: none;
    color: #2c2f3e;
}

a, a:hover, a.fa{
    text-decoration: none;
}

a{
    cursor: pointer;
}


li a{
    font-style: normal;
    font-weight: 400;
}

li.a:hover{
    text-decoration: none;
}



/* cards */

div.card{
    padding: 3%;
    background-color: transparent;
    
}

a.thumbnail, a.img{
    border: none;
}
a.media-right{
    width: 20%;
    height: auto;
}

div.media{
    padding: 5%;
}

/* div.media-body{
    padding: 3%;
} */
div.card.c1, div.media{
    margin-left: 8%;
    background-color: #f1f1f1;
    width: 1000px;
    height: 290px;
}

h3.card-title{
    text-align: center;
    font-weight: 600;
    color: #3d424f;
}


ol.carousel-indicators li{
    border: 2px solid #006edc;
    background-color: #006edc;
}

ol.carousel-indicators {
    bottom: -20px;
}
div.carousel{
    margin-top: 10%;
    margin-bottom: 10%;
}

div.slide-show{
    background-color: #fff;
}
div.text{
    margin-top: 10%;
    margin-left: 20%;
}


div.mg{
    margin: 8%  0 0;
}

footer{
    margin: 0; 
    background-color: #2e2e2e;
    background: linear-gradient(-225deg,#333333 0,#2e2e2e 100%);
}

footer p{
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}


footer p.display-5{
    color: #fff;
}
footer a{
    padding: 2%;
}

footer img{
    width: 30%;
    height: auto;
}